.app-web-login {
    .login-form {
        margin: 0 auto;
    }
    .sui-left-col-img{
        border: solid 5px #ccc;
    }
    .sui-right-col-img{
        border: solid 5px #ccc;
    }
}
.sui-text-center{
    text-align: center;
}
