.sui-refer-friend-form {
    background-color: #e6e6e4;
    margin: auto;
    .sui-text-center{
        text-align: center;
    }
    .ui.grid, .ui.grid > * {
        padding: 0;
        margin: 0;
    }

}
