.sui-center{
    text-align: center;
}
.sui-referral-container{
    max-width: 1024px;
    margin: auto;
}
.sui-referrals-list{
    margin: auto;
}
.sui-hr{
    border: dashed 1px #f1f1f1;
}
.sui-content{
    padding: 5px;
}
.sui-banner{
    border-bottom: solid 5px #40e0d0;
}
.sui-banner img{
    display: block;
}
.sui-referrals-list{
    margin: auto;
}
